@page "{Id:int?}"
@model NDDC_MRMS_App.Pages.ViewRequestsModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">View Requests</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Requests</a></li>
                    <li class="breadcrumb-item active">View Requests</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3 class="mb-5 text-center">Request Details</h3>
        <div class="d-flex">
            <div class="card col-lg-6 me-2">
            <div class="card-body">
                <div class="table-responsive m-3">
                    <table class="table caption-top">
                        <caption class="fs-4">Original</caption>
                        <tbody class="">
                            <tr class="">
                                <th class="ps-0" scope="row">Medical Examination Year:</th>
                                <td class="text-muted">@Model.Investigation.ExaminationYear</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Process Name:</th>
                                    <td class="text-muted">@Model.Investigation.ExaminationType</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Process Category:</th>
                                    <td class="text-muted">@Model.Investigation.ExaminationCategory</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Test Result</th>
                                    <td class="text-muted">@Model.Investigation.TestResult</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Result Unit</th>
                                    <td class="text-muted">@Model.Investigation.ResultUnit</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Reference Range</th>
                                    <td class="text-muted">@Model.Investigation.RefRange</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Flag</th>
                                    <td class="text-muted">@Model.Investigation.Flag</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Date Conducted</th>
                                    <td class="text-muted">@Model.Investigation.DateConducted.ToShortDateString()</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Time Reported</th>
                                    <td class="text-muted">@Model.Investigation.TimeReported.ToShortTimeString()</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Conducted By</th>
                                    <td class="text-muted">@Model.Investigation.ConductedBy</td>
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Diagnosis Summary</th>
                                    <td class="text-muted">@Model.Investigation.Summary</td>
                            </tr>
                            </tbody>
                         </table>
                    </div>
                    
            </div><!-- end card body -->
        </div>
        <div class="card col-lg-6 ms-2">
            <div class="card-body">
                <div class="table-responsive m-3">
                    <table class="table caption-top">
                        <caption class="fs-4">Edited</caption>
                        <tbody class="">
                            <tr class="">
                                <th class="ps-0" scope="row">Medical Examination Year:</th>
                                @if (string.Equals(Model.Investigation.ExaminationYear, Model.MyRequest.ExaminationYear))
                                    {
                                        <td class="text-muted">@Model.MyRequest.ExaminationYear</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.ExaminationYear</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Process Name:</th>
                                    @if (string.Equals(Model.Investigation.ExaminationType, Model.MyRequest.ExaminationType))
                                    {
                                        <td class="text-muted">@Model.MyRequest.ExaminationType</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.ExaminationType</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Process Category:</th>
                                    @if (string.Equals(Model.Investigation.ExaminationCategory, Model.MyRequest.ExaminationCategory))
                                    {
                                        <td class="text-muted">@Model.MyRequest.ExaminationCategory</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.ExaminationCategory</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Test Result</th>
                                    @if (string.Equals(Model.Investigation.TestResult, Model.MyRequest.Result))
                                    {
                                        <td class="text-muted">@Model.MyRequest.Result</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.Result</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Result Unit</th>
                                    @if (string.Equals(Model.Investigation.ResultUnit, Model.MyRequest.ResultUnit))
                                    {
                                        <td class="text-muted">@Model.MyRequest.ResultUnit</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.ResultUnit</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Reference Range</th>
                                    @if (string.Equals(Model.Investigation.RefRange, Model.MyRequest.RefRange))
                                    {
                                        <td class="text-muted">@Model.MyRequest.RefRange</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.RefRange</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Flag</th>
                                    @if (string.Equals(Model.Investigation.Flag, Model.MyRequest.Flag))
                                    {
                                        <td class="text-muted">@Model.MyRequest.Flag</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.Flag</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Date Conducted</th>
                                    @if (string.Equals(Model.Investigation.DateConducted.ToShortDateString(), Model.MyRequest.DateConducted.ToShortDateString()))
                                    {
                                        <td class="text-muted">@Model.MyRequest.DateConducted.ToShortDateString()</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.DateConducted.ToShortDateString()</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Time Reported</th>
                                    @if (string.Equals(Model.Investigation.TimeReported.ToShortTimeString(), Model.MyRequest.TimeReportedOn.ToShortTimeString()))
                                    {
                                        <td class="text-muted">@Model.MyRequest.TimeReportedOn.ToShortTimeString()</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.TimeReportedOn.ToShortTimeString()</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Conducted By</th>
                                    @if (string.Equals(Model.Investigation.ConductedBy, Model.MyRequest.RequestedBy))
                                    {
                                        <td class="text-muted">@Model.MyRequest.RequestedBy</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.RequestedBy</td>
                                    }
                                </tr>
                                <tr class="">
                                <th class="ps-0" scope="row">Diagnosis Summary</th>
                                    @if (string.Equals(Model.Investigation.Summary, Model.MyRequest.Summary))
                                    {
                                        <td class="text-muted">@Model.MyRequest.Summary</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">@Model.MyRequest.Summary</td>
                                    }
                            </tr>
                            </tbody>
                         </table>
                         <div class="d-flex justify-content-center mt-5" >
                        <div class="form-check text-success" data-bs-toggle="modal" data-bs-target="#Accept">
                            <button type="button" class="btn btn-md btn-success">Accept</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="Accept" tabindex="-1" aria-labelledby="AcceptLabel" aria-hidden="true">
                            <div class="modal-dialog pe-auto ">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="AcceptLabel">Accept</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Do you want to accept this request? 
                                </div>
                                <div class="modal-footer">
                                <a href="/Requests" type="button" class="btn btn-success">Yes</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-check text-success" data-bs-toggle="modal" data-bs-target="#Reject">
                            <button type="button" class="btn btn-md btn-danger">Reject</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="Reject" tabindex="-1" aria-labelledby="Rejectabel" aria-hidden="true">
                            <div class="modal-dialog pe-auto ">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="RejectLabel">Reject</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Do you want to reject this request? 
                                </div>
                                <div class="modal-footer">
                                <a type="button" class="btn btn-danger pe-auto " href="/Requests">Yes</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">No</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
            </div><!-- end card body -->
        </div>
        </div>
        
    </div>
</div>